*{
  font-family: 'Lora', serif;
}

/* CSS declarations go here */
.btn-primary{
	background-color: #B8C7CE;
	background-image: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;*/
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.home-page-background {
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(/images/frick-fine-arts.jpg);
  background-size: 100%;
  height: 1000px;
  opacity:0;  /* make things invisible upon start */
   -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   
   -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   
   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}

.container {
  width: auto;
  max-width: 1280px;
}
.container .text-muted {
  margin: 20px 0;
}

.home-page-background h1 {
  text-align: center;
  float: none;
  margin-top: 5%;
}

.gallery-link button {
  bottom: 200px;
  left: 48%;
  position: absolute;
  font-size: 1.6em;
}

.home-page-background .entrance-link {
  top: 56%;
  left: 45%;
  position: absolute;
  font-size: 1.6em;

}

.glyphicon-thumbs-up:hover {
  color: #000;
  cursor: pointer;
}

.firstMessage {
  margin-top: 450px;
  color: orange;
}
.lobbyMessage {
  color: orange;
}

@media(max-width:767px){
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  .home-page-background {
    height: 400px;
  }
}
@media(min-width:768px){
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 15px;
  }


}
@media(max-width:768px){
  .home-page-background {
    height: 640px;
    background-size: 130%;
  }
  .home-page-background .entrance-link {
    top: 300px;
    left: 35%;
  }
  .firstMessage {
    margin-top: 350px;
  }
}
@media(min-width:992px){
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  .home-page-background {
    height: 640px;
  }
}
@media(min-width:1200px){
  .home-page-background {
    height: 1000px;
  }

}

