<template name="newPiece">
    <form>
    <h3>Add a new piece</h3>
    Title: <input type="text" name="title" id="new-title"><br />
    URL: <input type="text" name="url" id="new-url"><br />
    Medium: <input type="text" name="medium" id="new-medium"><br />
    Date: <input type="text" name="date" id="new-date"><br />
    Width: <input type="text" name="width" id="new-width"><br />
    Gallery: <input type="text" name="gallery" id="new-gallery"><br />
    Likes: <input type="text" name="like" id="new-like"><br />
    <div class="btn btn-default" id="submit-add">Add</div>
    </form>
</template>

<template name="updatePiece">
    <form>
    <h3>Update a piece</h3>
    <select>
        <option>Choose the piece</option>
        {{#each artwork }}
        <option class="pick-art" value="{{_id}}">{{title}}</option>
        {{/each}}
    </select>
    {{#with editArt}}
    Title: <input type="text" name="title" id="update-title" value="{{title}}"><br />
    Media Name: <input type="text" name="url" id="update-url" value="{{mediaName}}"><br />
    Medium: <input type="text" name="medium" id="update-medium" value="{{medium}}"><br />
    Date: <input type="text" name="date" id="update-date" value="{{date}}"><br />
    Width: <input type="text" name="width" id="update-width" value="{{width}}"><br />
    Gallery: <input type="text" name="gallery" id="update-gallery" value="{{gallery}}"><br />
    Likes: <input type="text" name="like" id="update-like" value="{{like}}"><br />
    <div class="btn btn-default" id="submit-update">Update</div>
    {{/with}}
    </form>
</template>

<template name="approveArt">
    <div class="col-md-12">
        <h3>Submissions:</h3>
         <table class="table">
        <thead>
            <tr>
                <td>
                    View
                </td>
                <td>
                    Author
                </td>
                <td>
                    Date
                </td>
                <td>
                    Status
                </td>
                <td> 
                    Action
                </td>
            </tr>
        </thead>
        <tbody>
            {{#each drawing}}
            <tr>
                <td>
                    <a class="viewDrawing" href="{{view}}">view</a>
                </td>
                <td>
                    {{name}} 
                </td>
                <td>
                    {{date}}
                </td>
                <td>
                    {{status}}
                </td>
                <td> 
                    <div class="btn-group" role="group" aria-label="action">
                      <button type="button" class="btn btn-default setShow">Show</button>
                      <button type="button" class="btn btn-default setHide">Hide</button>
                      <button type="button" class="btn btn-default setDelete">Delete</button>
                    </div>
                </td>
            </tr>
            {{/each}}
                <div class="modal fade">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        {{#with viewDrawing}}
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">by: {{name}}</h4>
                      </div>
                      <div class="modal-body">
                        <img src="{{img}}" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                      {{/with}}
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
        </tbody>
    </table>
    </div>
</template>

<template name="edit">
    {{#if newmanCount}}
        <img src="images/newman.gif" />
    {{else}}
        {{#if loggedIn }}
        <div class="container">
            <h1>Edit Galleries</h1>
            {{> newPiece}}
            {{> updatePiece}}
            {{> approveArt}}
        </div>
        {{else}} 
        <h3>Please Sign In</h3>
        <form id="secureLogIn">
            <input type="password" class="form-control"/>
            <button class="btn btn-primary edit-page-login" type="submit">Submit</button>
        </form>
        {{/if}}
    {{/if}}   
    {{> footer}}
</template>