.entranceItems {
	opacity: .7;
	border: 2px solid #424242;
	height: 300px;
	margin-bottom: 40px;
}
.entranceItems:hover {
	opacity: 1;
}
.entranceItems h2 {
	text-align: center;
	margin-top: 50px;
}
.entranceItems button {
	text-align: center;
	width: 200px;
	margin: 0 auto;
	padding: 20px;
	top: 40px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #333;
}
.entranceItems button:hover {
	background-color: rgba(255, 255, 255, 0.6);
	border: 2px solid #333;
	}
.entranceItems.gallery-box {
	width: auto;
	background-image: url(/images/galleries.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-width: none !important;
}
.entranceItems.courtyard-box {
	width: auto;
	background-image: url(/images/courtyard.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-width: none !important;
}
.entranceItems.guestbook-box {
	width: auto;
	background-image: url(/images/guestbook.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-width: none !important;
}
.entranceItems.map-box {
	width: auto;
	background-image: url(/images/map.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-width: none !important;
}
.entranceItems.about-box{
	width: auto;
	background-image: url(/images/about.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-width: none !important;
}

@media (max-width: 800px) {
	.entranceItems {
		height: 200px;
	}
	.entranceItems button {
		top: 30px;
	}
	.entranceItems h2 {
	margin-top: 30px;
	}
}
@media (max-width: 550px) {
	.entranceItems {
		height: 140px;
		margin-bottom: 20px;
	}
	.entranceItems button {
		top: 10px;
		width: 160px;
		padding: 10px;
	}
	.entranceItems h2 {
	margin-top: 20px;
	}
	.entranceItems .btn-lg {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	.entranceItems {
		height: 114px;
	}
}

.container {
	padding-bottom: 90px;
}

.about {
	width: auto;
	background-image: url(/images/brick-wall.jpg);
	background-size: 100% 100%;
	max-width: none !important;
	height: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.map {
	display: block;
}

.map .room:hover rect {
	fill: #FFFFFF;
	cursor: pointer;
	stroke: #000000;
}

 .map .room:hover text{
	fill: #000000;
	cursor: pointer;
}

#Layer_2 {
	margin-top: 5%;
	max-width: 1280px;
}

.courtyard-link, .gallerylast-link, .gallery-link {
	opacity: 80%;
}

.courtyard-link:hover, .gallerylast-link:hover, .gallery-link:hover {
	opacity: 100%;
}

.eroom {
	cursor: pointer;
	opacity: 0.6;
}

.eroom:hover {
	opacity: 1;
}

.wall {
	width: auto;
	background-image: url(/images/brick-wall.jpg);
	background-size: 100% 100%;
	max-width: none !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-attachment: fixed;
}

form input {
	margin-top: 10px;
	display: block;
}

form {
	float: left;
	margin-right: 2%;
	background-color: #F0F0F0;
	padding: 1%;
}

p .guestbook-link {
	color: #337ab7;
	text-decoration: none;
	cursor: pointer;
}

p .guestbook-link:hover {
	color: #333;
	text-decoration: underline;
}

.about-image {
	width: 100%;
	max-width: 350px;
}

.about-side {
	text-align: center; 
	border-left: 2px solid #999999;
	color: #999999;
	cursor: pointer;
	padding-left: 0;
}

.about-side p {
	font-size: 75px;
 	line-height: 100px;
}

.about-side span:hover {
	color: #333;
}

.desktopScreens{
	display: block;
}

.smallScreens {
	display: none;
}

@media (max-width: 991px) {
  .about-side {
  	display: none;
  }

  .about .home-background {
  	width: 50%;
  }
}

@media(max-width: 1024px){
	.desktopScreens{
		display: none;

	}
	.smallScreens {
		display: block;
	}
}

@media(max-width: 700px){
	.wall{
		background-size: 100% 100%;
	}
}