<template name="guestbook">
  <div class="container guestbook">
    <h1>Guest Book</h1>
    <div class="col-md-8">
      <p>Please browse and sign the Guest Book</p>
    </div>
    <div class="col-md-4">
      <button class="btn-lg btn-success guestbooksign-link"><span class="glyphicon glyphicon-pencil"></span> Sign Guest Book</button>
    </div>
    {{#each drawing}}
    <div class="signature">
      <img src="{{img}}" class="center-block" />
      <p>By: {{name}}, on {{date}}</p>
    </div>
    {{/each}}
    <button class="btn-lg btn-success guestbooksign-link center-block"><span class="glyphicon glyphicon-pencil"></span> Sign Guest Book</button>
  </div>
  {{> footer}}
</template>

<template name="guestbooksign">
  <div class="container guestbooksign">
    <h1>Please Sign The Guest Book</h1>
     <div class="signaturearea col-md-8">
      <div class="row">
        <div class="col-md-12">
         
          <div class="tools col-md-6">
            <h3>color</h3>
            <!--a href="#colors_sketch" data-download="png" style="float: right; width: 100px;">Download</a-->
            <a href="#colors_sketch" data-color="#f00" style="width: 10px; background: #f00;"></a> 
            <a href="#colors_sketch" data-color="#ff0" style="width: 10px; background: #ff0;"></a> 
            <a href="#colors_sketch" data-color="#00CB00" style="width: 10px; background: #00CB00;"></a> 
            <a href="#colors_sketch" data-color="#98D0FF" style="width: 10px; background: #98D0FF;"></a> 
            <a href="#colors_sketch" data-color="#00f" style="width: 10px; background: #00f;"></a> 
            <a href="#colors_sketch" data-color="#f0f" style="width: 10px; background: #f0f;"></a> 
            <a href="#colors_sketch" data-color="#000" style="width: 10px; background: #000;"></a> 
            <a href="#colors_sketch" data-color="#fff" style="width: 10px; background: #fff;"></a>
          </div>
          
          <div class="tools col-md-6">
            <h3>size</h3> 
            <a href="#colors_sketch" data-size="3" style="background: #ccc">3 pt</a> 
            <a href="#colors_sketch" data-size="5" style="background: #ccc">5 pt</a> 
            <a href="#colors_sketch" data-size="10" style="background: #ccc">10 pt</a> 
            <a href="#colors_sketch" data-size="15" style="background: #ccc">15 pt</a>
            <div class="btn btn-default" id="clear-canvas">Clear</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <canvas id="colors_sketch" width="800" height="300"></canvas>
          <script type="text/javascript">
            $(function() {
              $.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function() {
                $('#colors_demo .tools').append("<a href='#colors_sketch' data-color='" + this + "' style='width: 10px; background: " + this + ";'></a> ");
              });
              $.each([3, 5, 10, 15], function() {
                $('#colors_demo .tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + this + "</a> ");
              });
              $('#colors_sketch').sketch();
            });
          </script>
        </div>
      </div>
      <div class="row">  
        <div class="col-md-12">
          <form class="form-inline" id="guestbookform">
            <div class="form-group">
              <div><label>Name:</label><input type="text" name="name" id="name" placeholder="Name" /></div>
              <div><label>Email:</label><input type="text" name="email" id="email" placeholder="Email Address"/></div>
              <div><input class="btn btn-success"  type="submit" name="submit" id="submit-img" /></div>
              <div class="btn btn-default guestbook-link">Back to Browse</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 sign-side">
      <div id="carousel-quotes" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h4>“Everything has its beauty, but not everyone sees it.” <br /> <b>Andy Warhol</b> </h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h4>“A man paints with his brains and not with his hands.” <br /><b>Michelangelo</b> </h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h4>“I dream of painting and then I paint my dream.”<br /> <b>Vincent Van Gogh</b></h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h4>"Good artists copy, great artists steal."<br /><b>Pablo Picasso</b></h4>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      

    </div>

      <!-- Modal -->
      <div class="modal fade" id="guestbookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Attention small screen user</h4>
            </div>
            <div class="modal-body">
              <p>Touch screens only give you stroke on the guest book, so make it good! Come back on a non-touch screen for a better guestbook experience.
              <br /><br />
              - The Hidden Gallery Staff</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">OK!</button>
            </div>
          </div>
        </div>
      </div>

  </div>
  {{> footer}}
</template>