.signature img {
  max-width: 100%;
  border: 1px solid #666666;
  margin: 20px auto;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.35);
}
.signature p{
  text-align: center;
  margin-bottom: 30px;
}
.guestbook .btn-lg {
  margin: 20px auto;
  border: none;
}

.guestbooksign .guestbook-link {
  margin: 20px auto;
}

#guestbookform {
  float: none;
  padding-right: 0;
  margin-right: 0;
  max-width: 802px;
}


#guestbookform div {
  display: inline-block;
}

#guestbookform label{
  display: block;
  margin-bottom: -10px;
  margin-top: 10px;
}

#guestbookform input {
  margin-right: 1%;
}

#guestbookform input.btn-success {
  position: relative;
  margin: -1px 10px -1px;
}

.sign-side {
  text-align: center; 
  color: #999999;
  margin-top: 100px;
}

.sign-side span:hover {
  color: #333;
}
/*sketch css*/
      canvas {
        max-width: 800px;
        height: 300px;
        border: 1px solid #ccc;
        width: 100%;
        overflow: hidden;
        cursor: crosshair;
      }

      .tools { 
        margin-bottom: 10px; 
      }

      .tools a {
        border: 1px solid black; height: 30px; line-height: 30px; padding: 0 10px; vertical-align: middle; text-align: center; text-decoration: none; display: inline-block; color: black; font-weight: bold;
      }

.carousel-content {
    color: black;
    display: flex;
    align-items: center;
    min-height: 300px;
}
.carousel-content h4 {
  line-height: 1.5em;
}


