.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
   padding: 15px 0;
   background-color: #e9e9e9;
   text-align: center;
   -webkit-box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.35);
   box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.35);
}
.footer ul {
  list-style-type: none;
  font-size: 1.2em;

}
.footer li {
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  color: #666666;
  vertical-align: top;
}
.footer li:last-child {
  margin-right: 0;
}

.footer li:hover {
  color: #000000;
  cursor: pointer;
}
@media(max-width: 400px){
  .footer .navigation li {
    text-align: center;
  }
  .footer .navigation.galleryNav {
    margin-left: 5px;
    padding-left: 5px;
  }
}


