/**/
#myParallax {
	margin-left: -5%;
	width: 105%;
	max-width: 1200px;
	overflow: hidden;
	margin-bottom: -5%;
}

#myParallax + button {
	bottom: 150px;
	right: 24%;
	position: absolute;
	font-size: 1.6em;
}

#myParallax li img{
	width: 120%;
	max-width: 1280px;
}

#courtyardid {
	padding: 0;
}
#big-court {
	width: auto;
	background-image: url(/images/brick-wall.jpg);
	background-size: 160%;
}
@media (min-width: 1200px){
	.container {
		width: 1200px !important;
		overflow: hidden;
	}
	#big-court {
		height: 850px;
		background-size: 125%;
	}
}

@media (max-width: 1200px) {
	#myParallax + button {
		right: 10%;
		bottom: 100px;
}

}
