.gallery {
	overflow-x: auto;
	width: 100%;
	bottom: 80px;
	top: 0px;
	position: absolute;
}

.gallery h2 {
	margin-left: 80px;
	position: fixed;
	text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}
.line {
	margin-top: 50px;
}

.slide-right {
	position: fixed;
	right: 10px;
	bottom: 105px;
	cursor: e-resize;
}

.slide-left {
	position: fixed;
	left: 10px;
	bottom: 105px;
	cursor: w-resize;
}

.piece {
	margin: 50px 80px;
	padding: 0;
	display: inline-block;
}

.piece img {
	width: 100%;
	/*box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.49), 3px 3px 6px 0px rgba(0,0,0,.3);*/
}
.piece img:hover {
	margin-left: -3%;
    opacity: 0.9;
}
.art {

	cursor: pointer;	
}
.plaque {
	padding: 15px;
 	background-color: #f5f5f5;
 	border: 2px solid #E0E0E0;
 	width: 100%;
 	margin: 20px 20px 20px 0;
 	max-width: 260px;
}

.glyphicon.glyphicon-thumbs-up {
	font-size: 16px;
}

.mobileScroll{
	text-align: center;
	font-size: 20px;
	position: fixed;
	margin: 0 33%;
	width: 34%;
	color: #BDBDBD;
	bottom: 90px;
	opacity: .6;
}

@media(max-width: 760px){
	.piece {
		margin: 30px 40px;
	}
	.gallery h2 {
		margin-left: 40px;
	}
	.plaque {
		max-width: 180px;
	}
}
.plaque p {
	margin: 0;
}



.liked {
	color: #0099FF;
}

.modal-content h2 {
	margin-left: 2%;
}

#large-piece {
	width: auto;
	max-width: 1280px;
	margin: 1% 2%;
	height: auto;
}

#large-piece video#bgvid {
	position: relative; 
	right: 0; 
	bottom: 0;
	width: 100%; 
	height: 100%; 
	background-size: cover;
	max-width: 1280px;
	max-height: 800px;
}

#large-piece img {
	position: relative; 
	right: 0; 
	bottom: 0;
	width: 100%; 
	height: 100%;
}

#scroll {
	color: #E0E0E0;
	width: 400px;
	display: block;
	position: fixed;
	left: 45%;
}

#scroll .font {
	font-family: 'Lora', serif;
}
