
<template name="gallery">
  <div class="gallery">
  <h2>Gallery {{galNum}}</h2>
    <div class="line" style="width: {{galleryWidth}};">
      {{#each art}}
        {{>artPiece}}
      {{/each}}
    </div>
    {{#if mobile}}
    <div class="mobileScroll"><span class="glyphicon glyphicon-backward"></span> Scroll <span class="glyphicon glyphicon-forward"></span> </div>
    {{else}}
    <button class="btn btn-default btn-lg slide-right {{disableRight}}">
      Scroll <span class="glyphicon glyphicon-forward"></span>
    </button>
    <button class="btn btn-default btn-lg slide-left {{disableLeft}}">
      <span class="glyphicon glyphicon-backward"></span> Scroll
    </button>
    {{/if}}
  </div>
  {{> modal}}
  {{> footer}}
</template>

<template name="artPiece">
  <div class="piece" style="width: {{width}};">
    <img src="/images/galleries/g{{gallery}}/{{mediaName}}.jpg" class="art artzoom-link" />
    <div class="plaque">
      <p>
        {{title}}<br />
        {{medium}}<br />
        {{date}}<br />
        <span class="glyphicon glyphicon-thumbs-up {{liked}}"></span> {{like}} likes
      </p>
    </div>
  </div>
</template>

<template name="modal">
  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{> artzoom}}
        {{#if mobile}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >Done</button>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template >

<template name="artzoom">
  {{#with artzoom}}
  <h2>{{title}}</h2>
  <div id="large-piece">
    {{#if mobile}}
      <img src="/images/galleries/g{{gallery}}/{{mediaName}}.jpg" />
    {{else}}
    <video autoplay loop poster="/images/galleries/g{{gallery}}/{{mediaName}}.jpg" id="bgvid">
      <source src="/images/galleries/g{{gallery}}/{{mediaName}}.webm" type="video/webm">
      <source src="/images/galleries/g{{gallery}}/{{mediaName}}.mp4" type="video/mp4">
      <img src="/images/galleries/g{{gallery}}/{{mediaName}}.jpg" title="Your browser does not support the <video> tag" />
    </video>
    {{/if}}
    
  </div>
  {{/with}}
</template>